.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabList {
  width: 100%;
  display: flex;
  flex: none;
  .tabItem {
    &.active {
      background-color: #95de64;
    }

    flex: 1;
    padding: 10px;
    background: #d9f7be;
    text-align: center;
  }
}

.tabBox {
  flex: 1;
  overflow: auto;
}
